@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Itim&display=swap");

a,
button,
label {
  -webkit-tap-highlight-color: transparent;
}
.select_bar {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  height: 2px;
  left: 0;
  width: 50%;
  background-color: black;
  transition: 0.3s transform;
}

.input2:checked + .select_bar {
  transform: translate(100%);
}
